.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.modal-toggle {
    background-color: rgb(89 135 35);
    border: none;
    color: white;
    cursor: pointer;
    padding: 1rem 1rem;
    text-transform: uppercase;
    box-shadow: #8ed240ed 7px 7px 7px;
    width: 250px;
}

img {
    display: flex;
    justify-content: center;
    width: 100%;
}